<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <center>{{ message }}</center>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</head>

<body>
    <center>
        <form method="post">
            <label for="Newpassword:"></label>
            <input type="password" name="npwd"><br><br>
            <label for="Confirmpassword:" ></label>
            <input type="password" name="cpwd"><br><br>
            <button>press</button>

        </form>
    </center>
    
</body>
</html>